@-ms-viewport {
    width : device-width;
}
body {
    background : #FAF8EF;
    padding-top : 6em;
}
* {
    box-sizing : border-box;
    text-align : left;
}
.wrapper {
    margin-right : auto;
    margin-left : auto;
    padding-left : 15px;
    padding-right : 15px;
}
.padded {
    margin-top : 0.357em;
    margin-bottom : 0.357em;
}
.row {
    margin-left : -15px;
    margin-right : -15px;
}
*[class^="col-"] {
    float : left;
    position : relative;
    min-height : 1px;
    padding-left : 15px;
    padding-right : 15px;
}
 *[class^="col-"].text-middle {
    top : 0.286em;
}
.col-12 {
    width : 100%;
}
.col-11 {
    width : 91.66666667%;
}
.col-10 {
    width : 83.33333333%;
}
.col-9 {
    width : 75%;
}
.col-8 {
    width : 66.66666667%;
}
.col-7 {
    width : 58.33333333%;
}
.col-6 {
    width : 50%;
}
.col-5 {
    width : 41.66666667%;
}
.col-4 {
    width : 33.33333333%;
}
.col-3 {
    width : 25%;
}
.col-2 {
    width : 16.66666667%;
}
.col-1 {
    width : 8.33333333%;
}
.clearFix:before, .wrapper:before, .row:before, .options:before, .menu:before, .clearFix:after, .wrapper:after, .row:after, .options:after, .menu:after {
    content : " ";
    display : table;
    clear : both;
}
.gameMessage {
    display : none;
    margin : 1em -15px;
    position : fixed;
    top : 30%;
    width : 100%;
    z-index : 5000;
}
 .gameMessage *[class^="bg-"] {
    font-size : 1.5em;
    font-weight : bold;
    padding : 1em;
    color : #333;
    border : 1px dashed #333;
    border-width : 3px 0px;
    text-align : center;
}
 .gameMessage .playerName {
    font-size : 1.7em;
}
 .gameMessage *[class^="col-"] {
    padding-left : 0;
    padding-right : 0;
}
 .gameMessage .bg-error {
    background-color : #f2dede;
}
 .gameMessage .bg-success {
    background-color : #dff0d8;
}
 .gameMessage .bg-warning {
    background-color : #fcf8e3;
}
 .gameMessage .playAgain {
    text-align : center;
    font-size : 1.5em;
    margin : 0.5em 0;
    cursor : pointer;
}
 .gameMessage .playAgain:hover {
    color : #08b307;
}
 .gameMessage-overlay {
    display : none;
    width : 100%;
    height : 100%;
    background-color : #000;
    position : fixed;
    top : 0;
    left : 0;
    z-index : 4000;
    opacity : 0.3;
}
.header {
    background-color : #0275d8;
    position : fixed;
    z-index : 1000;
    top : 0;
    width : 100%;
    display : block;
    padding : 0.5em 1em;
}
 .header .menu-icon {
    position : absolute;
    color : #fff;
    left : 1em;
    font-size : 1.8em;
    line-height : 2em;
    font-weight : bold;
    cursor : pointer;
}
 .header .mainTitle {
    font-size : 2em;
    display : block;
    font-weight : bold;
    color : #fff;
    text-align : center;
}
.playerTurnWrapper {
    font-weight : bold;
    color : #000;
    text-align : center;
    margin-top : 0.5em;
}
 .playerTurnWrapper .playerTurn {
    font-size : 1.4em;
    font-weight : bold;
    padding : 0 1em;
}
.player1 {
    background : #f00 !important;
}
.player2 {
    background : #ff0 !important;
}
table.playingField {
    border-collapse : separate;
    border-spacing : 1em;
    background : #43b5e8;
    -webkit-box-shadow : -4px -4px 1px 1px #2e8fbb;
    -moz-box-shadow : -4px -4px 1px 1px #2e8fbb;
    box-shadow : -4px -4px 1px 1px #2e8fbb;
    margin : auto;
}
 table.playingField tr td {
    padding : 1.5em;
    border-radius : 2em;
    background : #e6e6e6;
    -webkit-box-shadow : inset -2px -1px 0px 2px #256f90, inset -4px 1px 3px 2px #4e4e4e;
    -moz-box-shadow : inset -2px -1px 0px 2px #256f90, inset -4px 1px 3px 2px #4e4e4e;
    box-shadow : inset -2px -1px 0px 2px #256f90, inset -4px 1px 3px 2px #4e4e4e;
    height : 1em;
}
.ui-button {
    width : 100%;
    padding : .4em 1em;
    border : 1px solid #aed0ea;
    border-radius : 3px;
    background : #d7ebf9;
    color : #2779aa;
    font-size : 1.1em;
    font-weight : bold;
    display : inline-block;
    position : relative;
    line-height : normal;
    cursor : pointer;
    vertical-align : middle;
    text-align : center;
    -webkit-user-select : none;
    -moz-user-select : none;
    -ms-user-select : none;
    user-select : none;
}
 .ui-button:hover {
    border-color : #74b2e2;
    color : #0070a3;
    background : #e4f1fb;
}
.panel {
    background : #efefef;
}
 .panel .panel-header {
    text-align : center;
    font-size : 1.3em;
    font-family : sans-serif;
    background : #03a9f4;
    padding : 0.3em;
    color : #424242;
    box-shadow : 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
 .panel .panel-body {
    padding : 0.5em;
    position : relative;
}
 .panel.bordered .panel-body {
    border : 1px dashed #bbbbbb;
    border-top : 0;
}
.options {
    text-align : center;
    position : fixed;
    top : 0;
    left : -100em;
    z-index : 1100;
}
 .options .options-error-wrapper {
    display : none;
    background : #f00;
    text-align : center;
    padding : 0.2em 0;
    margin : 0 -0.5em;
    position : relative;
    color : #fff;
}
.menuOverlay {
    display : none;
    position : fixed;
    width : 100%;
    height : 100%;
    background : #000;
    z-index : 1000;
    opacity : 0.3;
    top : 0;
    left : 0;
}
input {
    padding : 3px 4px;
}
 input[type=text] {
    text-align : center;
    color : #000;
    width : 100%;
}
/*# sourceMappingURL=main.css.map */
